<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>Postal Calculations</h1>

<form name="postal-rates" method="POST" action="/postRates">
  <label for="mail-weight">Weight</label><br>
  <input type="number" min="1" step="1" id="mail-weight">
  <br>

  <input type="radio" name="mail-types" value="letters-stamped">
  <label for="letters-stamped">Letters (Stamped)</label><br>
  <input type="radio" name="mail-types" value="letters-metered">
  <label for="letters-metered">Letters (Metered)</label><br>
  <input type="radio" name="mail-types" value="large-envelopes-flat">
  <label for="large-envelopes-flat">Large Envelopes (Flat)</label><br>
  <input type="radio" name="mail-types" value="first-class-retail">
  <label for="first-class-retail">First Class Package Service - Retail</label><br>
</form>

<button type="button" onclick="calculateRate()">Submit</button>

<div id="output"></div>

</body>
</html>
