<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/javascript">

  function calculateRate() {
    let mailWeight = document.getElementById("mail-weight").value;
    var mailType = undefined;
    var radios = document.getElementsByTagName('input');

    for(i = 0; i < radios.length; i++) { 
                  
      if(radios[i].type="radio") { 
                
        if(radios[i].checked) {
          mailType = radios[i].value; 
        }
      } 
    }

    console.log(mailWeight);
    console.log(mailType); 
}
  </script>
</head>

<body>

<h1>Postal Calculations</h1>

<form>
  <input type="number" min="0.00" id="mail-weight">
  <br>

  <input type="radio" name="mail-types" value="letters-stamped">
  <label for="letters-stamped">Letters (Stamped)</label><br>
  <input type="radio" name="mail-types" value="letters-metered">
  <label for="letters-metered">Letters (Metered)</label><br>
  <input type="radio" name="mail-types" value="large-envelopes-flat">
  <label for="large-envelopes-flat">Large Envelopes (Flat)</label><br>
  <input type="radio" name="mail-types" value="first-class-retail">
  <label for="first-class-retail">First Class Package Service - Retail</label><br>
</form>

<button type="button" onclick="calculateRate()">Submit</button>

</body>
</html>
