<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script type="text/javascript">

  function calculateRate() {
    let mailWeight = document.getElementById("mail-weight").value;
    var mailType = undefined;
    var radios = document.getElementsByTagName('input');

    var baseRate = 0.00;
    var weightRate = 0.00;
    var finalPrice = 0.00;

    var output = document.getElementById("output");

    for(i = 0; i < radios.length; i++) { 
                  
      if(radios[i].type == "radio") { 
                
        if(radios[i].checked) {
          mailType = radios[i].value; 
        }
      } 
    }

    console.log(mailWeight);
    console.log(mailType); 

    switch(mailType) {
      case 'letters-stamped':
        
        baseRate = 0.40;

        if (mailWeight < 4) {
          weightRate = 0.15 * mailWeight;
          console.log("Flag 1");
        } else {
          weightRate = 0.15 * 4;
          console.log("Flag 1");
        }

        finalPrice = baseRate + weightRate;

        output.innerHTML = "The final price of your parcel is $" + finalPrice;

        break;
      case 'letters-metered':

        baseRate = 0.35;

        if (mailWeight < 4) {
          weightRate = 0.15 * mailWeight;
          console.log("Flag 1");
        } else {
          weightRate = 0.15 * 4;
          console.log("Flag 1");
        }
        
        finalPrice = baseRate + weightRate;

        output.innerHTML = "The final price of your parcel is $" + finalPrice;

      case 'large-envelopes-flat':

        baseRate = 0.80;

        if (mailWeight < 13) {
          weightRate = 0.20 * mailWeight;
        } else {
          weightRate = 0.20 * 13;
        }
        
        finalPrice = baseRate + weightRate;

        output.innerHTML = "The final price of your parcel is $" + finalPrice;

        break;
      case 'first-class-retail':

        if (mailWeight < 5) {
          finalPrice = 3.80;
        } else if (mailWeight < 9) {
          finalPrice = 4.60;
        } else if (mailWeight < 13) {
          finalPrice = 5.3;
        } else {
          finalPrice = 5.9;
        }

        output.innerHTML = "The final price of your parcel is $" + finalPrice;

        break;
      default:
        output.innerHTML = "Sorry, an error has occurred. Please consult the error logs.";
        break;
    }

}
  </script>
</head>

<body>

<h1>Postal Calculations</h1>

<form>
  <label for="mail-weight">Weight</label><br>
  <input type="number" min="1" step="1" id="mail-weight">
  <br>

  <input type="radio" name="mail-types" value="letters-stamped">
  <label for="letters-stamped">Letters (Stamped)</label><br>
  <input type="radio" name="mail-types" value="letters-metered">
  <label for="letters-metered">Letters (Metered)</label><br>
  <input type="radio" name="mail-types" value="large-envelopes-flat">
  <label for="large-envelopes-flat">Large Envelopes (Flat)</label><br>
  <input type="radio" name="mail-types" value="first-class-retail">
  <label for="first-class-retail">First Class Package Service - Retail</label><br>
</form>

<button type="button" onclick="calculateRate()">Submit</button>

<div id="output"></div>

</body>
</html>
